.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

body{
    color:#FCF3E3;
   
    background-color: beige;
    background-image: url("hatsG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
h1{
    color:#FCF3E3;
    font-size: 20px;
    font-size: 40px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding:20px;
}
h3{
    color:#FCF3E3;
    font-size: 20px;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: block;
    
  
}

nav{
    
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
    display: flex;
    background-color: #FCF3E3; 
    
    text-align: center;
    padding: 2px 2px 2px 2px;
    padding: 0px;
    border-style: solid;
    border-width: 2px;
}

li{
   
    display: inline;
    margin: 60px; 
  

}

a{
    text-decoration: none;
}
a:link{
    color:midnightblue; 
}
a:visited{
    color:midnightblue;  
}


h4{
    font-size: 20px;
    font-family: 'Segoe UI';
  
}



footer{
    margin-top:200px;
    display: block;
    background-color: #C5D7E3;
    color: black;
    text-align: center;
    padding: 5px;
    
}


#div1{
    background-color: midnightblue;
    color:#FCF3E3;
    display:block;
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width:auto;
    height:auto;
  
}
#div2{
    background-color: midnightblue;
    color:#FCF3E3;
   
    display:block;
    margin:10px 10px 10px 10px;
    
    padding: 10px 10px 10px 10px;
    

}
#div3{
    background-color: midnightblue;
    color:#FCF3E3;
    display:block;
    
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  

}
.flex-container {
    margin-top:100x;
    display: flex; 
    justify-content: space-between;
    padding: 10px;
    }
   
